{% extends 'shop/menu.html' %}
{% load shop_tags %}

{% block sidebar %}
<ul id="leftchapters">
        {% if cat_selected == 0 %}
            <li class="selected">Всe категории</li>
        {% else %}
            <li><a href="{% url 'blog' %}">Всe категории</a></li>
        {% endif %}
            {% show_categories 'name' cat_selected %}
</ul>
{% endblock %}


{% block breadcrumbs %}

{% endblock %}


{% block content %}
<h1>{{title}}</h1>
<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
        <div class="form-error">{{ form.non_field_errors }}</div>  <!--отображать ошибки не связанные с полями-->
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }} </p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
    <button type="submit">Добавить</button>

</form>
{% endblock %}