{% extends 'shop/menu.html' %}
{% load shop_tags %}

{% block sidebar %}
                    <ul id="leftchapters">

                    <form method="GET">
                        <select name="paginate_by" id="">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                        <input type="submit" value="Пагинация">
                    </form>


                            {% if cat_selected == 0 %}
                                <li class="selected">Всe категории</li>
                            {% else %}
                                <li><a href="{% url 'blog' %}">Всe категории</a></li>
                            {% endif %}
                                {% for c in cats %}
                                    {% if c.name__count > 0 %}
                                        {% if c.pk == cat_selected %}
                                            <li class="selected">{{c.name}}</li>
                                        {% else %}
                                            <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                    </ul>



{% endblock %}


{% block content %}
                        <h1>{{title}}</h1>

                        <form method="post">
                        {% csrf_token %}
<!--                        {{ form.as_p }}-->
                            {% for f in form %}
                            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}

                        <button type="submit">Регистрация</button>
                        </form>

{% endblock %}