{% extends "menu.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block pagename %}
<h1>
    <p align="center">Игры</p>
</h1><hr>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
<table align="center" width="1200">
    <colgroup>
    <col span="4" style="background:Khaki">
    <col style="background-color:LightCyan">
    </colgroup>
        <tr>
            <th><p align="center">Id Игры</p> </th>
            <th>Наименование</th>
            <th>Описание игры</th>
            <th>Цена (Руб.)</th>
            <th>купить</th>
        </tr>
        {% for game in Games %}
        <tr>
            <td><p align="center">{{ game.id }}</p></td>
            <td><p style="margin:10px"> {{ game.title }}</p></td>
            <td><p style="margin:10px">{{ game.description }} </p</td>
            <td><p style="margin:10px">{{ game.cost }}</p</td>
            <td><p style="margin:5px"><button type="button">Купить</button></p></td>
        </tr>
        {% endfor %}
</table>
<form action="/" >
<p align="center"><button>Вернутся обратно</button></p>
</form>
<hr>
{% endblock %}


