{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}


             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <!--    {{ form.as_p }}-->
                    <div class="form-error">{{ form.non_field_errors }}</div>  <!--отображать ошибки не связанные с полями-->
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }} </p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                <button type="submit">Изменить</button>

            </form>

{% endblock %}